<div class="container bg-greyWow opacity08">
    <div class="row whiteColor text-white">
        {{#if isUpload }}
    <span>Upload Success !!!! </span>
    {{/if }}
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 mx-auto text-center form p-4">
            <div class="px-2">
                <form action="/import" method="post" class="justify-content-center" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="file" accept=".lua" class="form-control-file" id="monoliteFile" name="monoliteFile" required>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary btn">Importer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>