/*** Polices installées ***/
@font-face {
    font-family: 'lifecraftregular';
    src: url('../fonts/lifecraft_font-webfont.woff2') format('woff2'),
         url('../fonts/lifecraft_font-webfont.woff') format('woff');
    font-weight: normal;
	font-style: normal;

}

body {
	background-image: url('../img/backgroundwow.jpg');	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	color:#bbb;
}

/*** Phoenix © Sulfuron ***/
.titre {
	padding: 68px 0 40px 0;
	text-align: center;
	font-family: 'lifecraftregular';
	font-size: 70px;
	text-shadow: 0 0 5px #686868;
	background-color:rgba(232,232,232,0.3);
}

.fontWow{
	font-family: 'lifecraftregular';
	font-size: 20px;
}

.bg-greyWow{
	background-color:#242424;
}

.container-fluid{
	padding-right: 150px;
	padding-left: 150px;
	height: 100vh;
}

.colorTest {
	/* background-color:rgba(232,232,232,0.3); */
	height: 100%;
}

.marginLRowLeftRight{
	margin-right: 5px;
	margin-left: 5px;
}

.paddingTopBot{
	padding-top: 15px;
	padding-bottom: 15px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
	background-color: #625f62!important;
}

a {
	color: #625f62;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:hover {
	color: white;
}

div.dataTables_length {
	display: none;
}

.none{
	display: none;
}

.w50{
	width: 50px;
}

.fontCraftLh14 {
	font-family: 'lifecraftregular';
	font-size: 16px;
}

.lH20{
	font-size: 20px;
}

.lH18{
	font-size: 18px;
}

.marginLRowLeftRight0 {
	margin-right: 0px;
	margin-left: 0px;
}

.helvetica {
	font-family: 'SansSerif';
	font-size: 18px;
}

.cursorPointer {
	cursor: pointer;
}

.navbar-light .navbar-nav .nav-link{
	color:#bbb;
}

.opacity08{
	opacity: 0.8;
}

.ft18 {
	font-size: 18px;
}

.bold{
	font-weight:bold;
}